@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header h1 {
  color: #511f50;
  font-size: 3rem;
  padding-right: 10rem;
  font-weight: 700;
}

.header h2 {
  font-size: 15px;
  color: #937b92;
  padding-right: 2.4rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
}

.ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ratings div {
  padding: 1rem 2.2rem;
  margin: 0.5rem;
  width: 30rem;
  border-radius: 1rem;
  background-color: #ecdfec;
  color: #511f50;
  font-weight: 700;
}

.ratings div .stars {
  margin-right: 2rem;
}

.ratings div:nth-of-type(1) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.ratings div:nth-of-type(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.ratings div:nth-of-type(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.reviews {
  position: relative;
}

.reviews .user-card {
  background-color: #511f50;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
}

.reviews .user-card:nth-of-type(1) {
  margin-left: 0;
}

.reviews .user-card:nth-of-type(2) {
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
}

.reviews .user-card:nth-of-type(3) {
  margin-right: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

.reviews .user-card .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.reviews .user-card .user img {
  border-radius: 50%;
  width: 3rem;
  margin-right: 1.5rem;
}

.reviews .user-card .user .name {
  color: #ecdfec;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 0.4rem;
}

.reviews .user-card .user .v-buyer {
  color: #e5c1e7;
  font-weight: 500;
}

.reviews .user-card .u-review {
  color: #ecdfec;
  font-size: 0.89rem;
  line-height: 1.35rem;
}

html {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

html body {
  min-height: 100vh;
  padding: 2rem 8rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
}

html body section:nth-of-type(1) .header, html body section:nth-of-type(1) .ratings {
  width: 50%;
}

@media all and (max-width: 1180px) {
  html .header h1 {
    font-size: 2.5rem;
  }
  html .ratings div:nth-of-type(1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  html .ratings div:nth-of-type(2) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  html .ratings div:nth-of-type(3) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media all and (max-width: 1151px) {
  html {
    font-size: 12px;
  }
  html .header h1 {
    font-size: 3rem;
  }
  html .ratings div {
    width: 32rem;
  }
  html .ratings div:nth-of-type(1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  html .ratings div:nth-of-type(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  html .ratings div:nth-of-type(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media all and (max-width: 990px) {
  html .header h1 {
    font-size: 2.5rem;
  }
  html .ratings div:nth-of-type(1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  html .ratings div:nth-of-type(2) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  html .ratings div:nth-of-type(3) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media all and (max-width: 980px) {
  html body {
    padding: 1rem;
  }
}

@media all and (max-width: 830px) {
  html {
    font-size: 10px;
  }
  html body {
    padding: 1.5rem;
  }
  html .header h1 {
    font-size: 3rem;
  }
  html .ratings div {
    width: 35rem;
  }
  html .ratings div:nth-of-type(1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  html .ratings div:nth-of-type(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  html .ratings div:nth-of-type(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media all and (max-width: 750px) {
  html .header h1 {
    font-size: 2.5rem;
  }
  html .ratings div:nth-of-type(1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  html .ratings div:nth-of-type(2) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  html .ratings div:nth-of-type(3) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media all and (max-width: 740px) {
  html {
    font-size: 8px;
  }
  html body {
    padding: 1.5rem;
  }
  html .header h1 {
    font-size: 3rem;
  }
  html .ratings div {
    width: 35rem;
  }
  html .ratings div:nth-of-type(1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  html .ratings div:nth-of-type(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  html .ratings div:nth-of-type(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media all and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  html body {
    padding: 5rem 2.5rem;
  }
  html body section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
  }
  html body section:nth-of-type(1) .header, html body section:nth-of-type(1) .ratings {
    width: 100%;
  }
  html body section .header {
    text-align: center;
  }
  html body section .header h1, html body section .header h2 {
    padding: 0;
  }
  html body section .header h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  html body section .header h2 {
    font-size: 1.2rem;
    line-height: 1.75rem;
  }
  html body section .ratings {
    margin-top: 2rem;
    font-size: 1rem;
  }
  html body section .ratings div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 1rem;
  }
  html body section .ratings div:nth-of-type(1) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  html body section .ratings div:nth-of-type(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  html body section .ratings div:nth-of-type(3) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  html body section .ratings div .stars {
    margin: 0 0 0.75rem 0;
  }
  html body section.reviews .user-card {
    padding: 2.4rem;
    margin: 0;
    border-radius: 1rem;
  }
  html body section.reviews .user-card:nth-of-type(1) {
    margin-bottom: 1rem;
  }
  html body section.reviews .user-card:nth-of-type(2) {
    margin-bottom: 1rem;
  }
  html body section.reviews .user-card .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
  }
  html body section.reviews .user-card .user img {
    border-radius: 50%;
    width: 3rem;
    margin-right: 1.5rem;
  }
  html body section.reviews .user-card .user .name {
    color: #ecdfec;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0.4rem;
  }
  html body section.reviews .user-card .user .v-buyer {
    color: #e5c1e7;
    font-weight: 500;
  }
  html body section.reviews .user-card .u-review {
    color: #ecdfec;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 500;
  }
}
/*# sourceMappingURL=main.css.map */